@if(!skipOnInit){
<app-error-success [errorSuccess]="errorSuccess"></app-error-success>
<div class="flex flex-col gap-1 w-full h-full overflow-y-auto no-scrollbar p-1">

    <div>
        <form [formGroup]="editStudent" class="flex flex-col gap-2 items-center">
            <div class="w-6/12 ipadmini:w-10/12">
                <label class="block  font-medium text-gray-700"> ID </label>

                <input type="text" placeholder="ID" formControlName="id"
                    class="mt-1 w-full rounded-md border-gray-200 shadow-sm " />
            </div>

            <div class="w-6/12 ipadmini:w-10/12">
                <label class="block  font-medium text-gray-700"> First Name </label>

                <input type="text" placeholder="First Name" formControlName="first_name"
                    class="mt-1 w-full rounded-md border-gray-200 shadow-sm " />
            </div>

            <div class="w-6/12 ipadmini:w-10/12">
                <label class="block  font-medium text-gray-700"> Last Name </label>

                <input type="text" placeholder="Last Name" formControlName="last_name"
                    class="mt-1 w-full rounded-md border-gray-200 shadow-sm " />
            </div>

            <div class="w-6/12 ipadmini:w-10/12">

                <label class="block  font-medium text-gray-900"> Gender </label>

                <select formControlName="gender" text class="mt-1.5 w-6/12 rounded-lg border-gray-300 text-gray-700 ">
                    <option *ngFor="let item of genders" [value]="item.value">
                        {{item.name}}</option>
                </select>
            </div>

            <div class="w-6/12 ipadmini:w-10/12">
                <label class="block  font-medium text-gray-700"> Date Of Birth </label>

                <input type="date" placeholder="Date Of Birth" formControlName="date_of_birth"
                    class="mt-1 w-6/12 rounded-md border-gray-200 shadow-sm " />
            </div>


            <div class="w-6/12 ipadmini:w-10/12">

                <label class="block  font-medium text-gray-900"> Standard </label>

                <select formControlName="standard" text class="mt-1.5 w-6/12 rounded-lg border-gray-300 text-gray-700 ">
                    @for (item of standards;track item.value) {
                    <option [value]="item.value">{{item.name}}</option>
                    }@empty {
                    <label> There are no items.</label>
                    }
                </select>
            </div>

            <div class="w-6/12 ipadmini:w-10/12">

                <label class="block  font-medium text-gray-900"> Fee Structure </label>

                <select formControlName="fee_structure_id" text
                    class="mt-1.5 w-6/12 rounded-lg border-gray-300 text-gray-700 ">
                    @for (item of FeeStructureList;track item.id ) {
                    <option [value]="item.id">{{item.structure_name}}</option>
                    }@empty {
                    <label> There are no items.</label>
                    }
                </select>
            </div>


            <div class="w-6/12 ipadmini:w-10/12">
                <label class="block  font-medium text-gray-700"> Parents Name </label>

                <input type="text" placeholder="Parents Name" formControlName="parents_name"
                    class="mt-1 w-full rounded-md border-gray-200 shadow-sm " />
            </div>

            <div class="w-6/12 ipadmini:w-10/12">
                <label class="block  font-medium text-gray-700"> Parents Mobile </label>

                <input type="text" placeholder="Parents Mobile" formControlName="parents_mobile"
                    class="mt-1 w-full rounded-md border-gray-200 shadow-sm " />
            </div>

            <div class="w-6/12 ipadmini:w-10/12">
                <label class="block  font-medium text-gray-700"> School Name </label>

                <select formControlName="school_name" text
                    class="mt-1.5 w-full rounded-lg border-gray-300 text-gray-700 ">
                    @for (item of schools;track item.value) {
                    <option [value]="item.value">{{item.name}}</option>
                    }@empty {
                    <label> There are no items.</label>
                    }
                </select>
            </div>


            <div class="w-6/12 ipadmini:w-10/12">
                <label class="block  font-medium text-gray-700"> Date Of Admission </label>

                <input type="date" placeholder="Date Of Admission" formControlName="date_of_admission"
                    class="mt-1 w-6/12 rounded-md border-gray-200 shadow-sm " />
            </div>

            <div class="w-6/12 ipadmini:w-10/12">
                <label class="block  font-medium text-gray-700"> Comment </label>

                <textarea type="" placeholder="Comment" formControlName="comment"
                    class="mt-1 w-full rounded-md border-gray-200 shadow-sm "></textarea>
            </div>

        </form>
    </div>
    <div class="flex justify-center">

        <button
            class="inline-block rounded border border-indigo-600 bg-indigo-600 px-8 py-3  font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
            (click)="editStudentPersonal()">Edit Student
        </button>

    </div>
</div>
}