<app-error-success [errorSuccess]="errorSuccess"></app-error-success>

<div class="flex flex-col gap-1 w-full h-full overflow-y-auto no-scrollbar p-1">
    <span class="flex items-center">
        <span class="h-px flex-1 bg-black"></span>
        <span class="shrink-0 px-6 text-base">Form : {{isAddMode ? 'Add' : 'Edit'}} Structure</span>
        <span class="h-px flex-1 bg-black"></span>
    </span>

    <div>
        <form [formGroup]="addEditFeeStructure" class="flex flex-col gap-2 items-center">

            @if(!isAddMode){
            <div class="w-6/12">
                <label class="block  font-medium text-gray-700"> ID </label>

                <input type="text" placeholder="ID" formControlName="id"
                    class="mt-1 w-full rounded-md border-gray-200 shadow-sm " />
            </div>
            }
            <div class="w-6/12">
                <label class="block  font-medium text-gray-700"> Structure Name </label>

                <input type="text" placeholder="Structure Name" formControlName="structure_name"
                    class="mt-1 w-full rounded-md border-gray-200 shadow-sm " />
            </div>

            <div class="w-6/12">
                <label class="block  font-medium text-gray-700"> Amount </label>

                <input type="text" placeholder="Amount" formControlName="amount"
                    class="mt-1 w-full rounded-md border-gray-200 shadow-sm " />
            </div>
            <div class="w-6/12">

                <label class="block  font-medium text-gray-900"> Period </label>

                <select formControlName="period" text class="mt-1.5 w-6/12 rounded-lg border-gray-300 text-gray-700 ">
                    @for (item of Period;track item.value) {
                    <option [value]="item.value">{{item.name}}</option>
                    }@empty {
                    <label> There are no items.</label>
                    }
                </select>
            </div>
            <div class="w-6/12">
                <label class="block  font-medium text-gray-700"> Offset </label>

                <input type="text" placeholder="Offset" formControlName="offset"
                    class="mt-1 w-full rounded-md border-gray-200 shadow-sm " />
            </div>





            <div class="w-6/12">
                <label class="block  font-medium text-gray-700"> Comment </label>

                <input type="text" placeholder="Comment" formControlName="comment"
                    class="mt-1 w-full rounded-md border-gray-200 shadow-sm " />
            </div>






        </form>
    </div>
    <div class="flex justify-center">

        <button
            class="inline-block rounded border border-indigo-600 bg-indigo-600 px-8 py-3  font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
            (click)="addEditStudentFeeStructure()">Save
        </button>

    </div>
</div>